/* Utility */
.container {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

/* Navigation */
#main-nav {
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 2;
}

#main-nav .container {
  display: grid;
  grid-template-columns: 6fr 3fr 2fr;
  padding: 1rem;
  align-items: center;
}

#main-nav .logo {
  width: 180px;
}

#main-nav ul {
  justify-self: end;
  display: flex;
}

#main-nav ul li a {
  padding: 0.75rem;
  font-weight: bold;
}

#main-nav ul li a.current {
  background: var(--primary-color);
  color: #fff;
}

#main-nav ul li a:hover {
  background: var(--light-color);
  color: var(--dark-color);
}

#main-nav .social {
  justify-self: center;
}

#main-nav .social i {
  color: #0a0a0a77;
  margin-right: 0.5rem;
}

.read-more {
  background: rgb(189, 15, 15);
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  margin-top: 10px;
  border-radius: 3px;
  border: var(--primary-color) 3px solid;
}

.read-more:hover {
  background: var(--primary-color);
}

.category {
  background: var(--sports-color);
  color: #f8f1f1;
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 20px;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 2px;
  max-width: var(--max-width);
  width: 6rem;
  text-align: center;
  position: sticky;
  border: #947903 2px solid;
  border-radius: 5px;
}
.category:hover {
  background: #ecc206;
}

/* footer css */

.footer {
  background-color: #333;
  color: #fff;
  padding: 40px 20px;
}
.footer-container img {
  width: 80%;
  height: auto;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: var(--max-width);
  margin: auto;
}

.footer-column {
  flex: 1;
  min-width: 220px;
  margin: 10px;
}

.footer-column h2,
.footer-column h3 {
  color: #fff;
}

.footer-column p {
  color: #ccc;
}

.newsletter-column form {
  display: flex;
  flex-direction: column;
}

.newsletter-column input[type="email"] {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 3px;
}

.newsletter-column button {
  background-color: #e74c3c;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.newsletter-column button:hover {
  background: #a31c0d;
}

.links-column ul {
  list-style-type: none;
  padding: 0;
  margin-left: 20px;
}
.links-column h3 {
  margin-left: 20px;
}

.links-column ul li {
  margin-bottom: 10px;
}

.links-column ul li a {
  color: #ccc;
  text-decoration: none;
  border-bottom: #777 2px solid;
  padding-bottom: 5px;
}

.links-column ul li a:hover {
  color: rgb(212, 129, 26);
  font-style: italic;
}

.join-column button {
  background-color: #f39c12;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.join-column button:hover {
  background-color: #947903;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  color: #ccc;
  background: #777;
  border-radius: 5px;
  max-width: var(--max-width);
  margin: auto;
  margin-top: 20px;
}

.footer-bottom p {
  margin: auto;
  padding: 1rem;
}
